* {
  box-sizing: border-box;
}

html, body {
   margin: 0;
   padding: 0;
   border: 0;
}

body{
  text-align: center;
  font-family: sans-serif;
}

h1, h2, h3 {
  margin: 0
}

.head-welcome{
  background-image:url(../images/images.jpg) ;/* Шлях до вашого зображення */
  background-size: cover;                        /* Розтягує картинку на весь хедер */
  background-position: center;                   /* Центрує зображення */
  background-repeat: no-repeat;                  /* Забороняє повторення картинки */
  /*min-height: 200px;                                  /* Задайте потрібну висоту */
  color: aliceblue;
  text-align: center;
  padding: 20px 50px;
}
.head-button{
  padding: 10px 20px 10px;
  background-color: rgb(107, 104, 104);
  color: aliceblue;
  border: 5px solid rgb(65, 66, 65);
}
.lorem-art{
  display: inline-block;
  width: 200px;
  /* padding: 10px; */
  margin: 0 10px;
  text-decoration: none;
  vertical-align: top;
}
.long{
  background-color:rgb(55, 54, 53);
}

.text-container {
  margin-top: 12px;
}

.art{
  background-color:antiquewhite;
  padding: 20px 10px;

}

.blok-container {
  padding: 20px;
}

.blok{
  background-color:rgb(255, 255, 255);
  display: inline-block;
  width: 200px;
  height: 400px;
  vertical-align: top;
  padding: 0 10px;
}

.footer-info-card-container {
  font-size: 0;
}

.footer-info-card {
  display: inline-block;
  width: 50%;
  padding: 10px;
  text-decoration: none;
  vertical-align: top;
  color:white;
  font-size: 16px;
}
.bly{
  background-color:aqua;
}
.greu{
  background-color:rgb(47, 48, 48);
}

.main-footer a{
  color: #2690d4;
    text-decoration: none;
}
.content-footer{
  background-color: #000000;
  color: aliceblue;
}
.project-author{
  margin-left: 50px;
} 

